.chat-message-container {
  margin: 16px 0px;

  align-self: flex-start;
  
  &.from-user {
    align-self: flex-end;
  }
}

.chat-row {
  display: flex;
}

.from-user {
  > .chat-row {
    flex-direction: row-reverse;

    > .chat-bubble p {
      text-align: end;
    }
  }
}

.chat-message-avatar {
  display: block;
  width: 48px;
  height: 48px;

  align-self: flex-end;

  margin: 0px 12px;

  border: 1px solid #ccc;
  border-radius: 100%;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.chat-bubble {
  background-color: white;
  border-radius: 8px 8px 8px 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.chat-bubble p {
  margin: 0;
  text-align: start;
}

.chat-date {
  margin-top: 4px;
  margin-bottom: 0px;
  text-align: start;
  font-size: 14px;
}
