#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  height: 100vh;

  > *:first-child {
    flex: 7.5;
  }

  > *:last-child {
    flex: 2.5;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
